/HomeWorkOne/.idea/.name
/HomeWorkOne/.idea/compiler.xml
/HomeWorkOne/.idea/copyright/profiles_settings.xml
/HomeWorkOne/.idea/encodings.xml
/HomeWorkOne/.idea/misc.xml
/HomeWorkOne/.idea/modules.xml
/HomeWorkOne/.idea/scopes/scope_settings.xml
/HomeWorkOne/.idea/vcs.xml
/HomeWorkOne/.idea/workspace.xml
/HomeWorkOne/out/production/HomeWorkOne/*.class
/HomeWorkOne/target/MANIFEST.MF
